@{

    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <div class="jumbotron-div">
        <img class=img-start-front-image src="images/Kalkulator.jpg" alt="Kalkulator" />
        <p class="img-start-front-text">Preračunajte si cenejši jutri</p>
    </div>
</div>
<div class="container-fluid">

</div>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="images/solar.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Sončne celice</h5>

            <a href="#" class="btn btn-info">Izvedi več</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="images/electric.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Električni avtomobili</h5>

            <a href="#" class="btn btn-info">Izvedi več</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="images/pump.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Toplotne črpalke</h5>
            <!--sem zamenjal barvo teksta   <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam accusantium, nam
                inventore, at dolores
                itaque recusandae, porro earum ea optio illum tempore placeat? Blanditiis ex accusantium labore iste
                eveniet
                sint!</p> -->
            <a href="#" class="btn btn-info">Izvedi več</a>
        </div>
    </div>
</div>