@{

    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <div class="jumbotron-div">
        <img class=img-start-front-image src="images/paneli.jpg" alt="Kalkulator" />
        <a class="img-start-front-text" asp-area="" asp-controller="Kalkulator" asp-action="Index">Preklop na sončno
            energijo</a>
    </div>
</div>
<div class="container-fluid">

</div>
<div class="card-deck my-10">

    <div class="card my-20">
        <img class="card-img-top" src="images/electric.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Novice</h5>

            <a class="btn btn-info" asp-area="" asp-controller="Primerjava" asp-action="Index">Izvedi več</a>
        </div>
    </div>


    <table class="table table-striped bg-white my-50">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cena / cenik z montažo in zagonom</th>
                <th scope="col">Prednosti</th>
                <th scope="col">Slabosti</th>
                <th scope="col">Vir toplote</th>
                <th scope="col">Ogrevanje?</th>
                <th scope="col">Učinkovitost (COP)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Toplotna črpalka VODA - voda</th>
                <td>7100 – 15500 EUR</td>
                <td>- Najboljša učinkovitost (nizka poraba elektrike)
                    - Za ogrevanje (in hlajenje) prostorov ne potrebuje drugih sistemov</td>
                <td>- Dražja investicija (vrtina)
                    - Potrebno soglasje ARSO</td>
                <td>Voda
                    (izvedba možna le, če imate blizu podtalnico)</td>
                <td>- Možno ogrevanje sanitarne vode in/ali prostorov
                    - Poleti možno hlajenje prostorov</td>
                <td>COP ≈ 5</td>
            </tr>
            <tr>
                <th scope="row">Toplotna črpalka ZEMLJA - voda</th>
                <td>8200 – 15200 EUR</td>
                <td>- Tiho delovanje
                    - Deluje skozi vse leto
                    - Porabi manj energije
                    - Manj vzdrževanja, ni zunanje enote</td>
                <td>- Dražja investicija
                    - Potrebno soglasje ARSO (vertikalni zbiralnik)
                    - Zahteva veliko zemlje okoli objekta (horizontalni zbiralnik)</td>
                <td>Zemlja
                    (izvedba možna po vsej Sloveniji, razen tam, kjer so kraške jame)</td>
                <td>- Možno ogrevanje sanitarne vode in/ali prostorov
                    - Poleti možno hlajenje prostorov</td>
                <td>COP ≈ 4,5</td>
            </tr>
            <tr>
                <th scope="row">Toplotna črpalka ZRAK - voda</th>
                <td>5100 – 9400 EUR</td>
                <td>- Poceni in
                    enostavna namestitev - Najpogostejša izbira v Sloveniji
                    - Hitra povrnitev investicije
                    - Lahko jo namestimo tudi v klet</td>
                <td>- Najnižja energetska učinkovitost
                    - Zunanje enota podvržena vremenskim pogojem</td>
                <td>Zrak
                    (izvedba možna po vsej Sloveniji, celo v notranjih prostorih - npr. klet)</td>
                <td>- Možno ogrevanje sanitarne vode in/ali prostorov
                    - Poleti možno hlajenje prostorov</td>
                <td>COP ≈ 3,5</td>
            </tr>
        </tbody>
    </table>
</div>
