@{

    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <div class="jumbotron-div">
        <img class=img-start-front-image src="images/paneli.jpg" alt="Kalkulator" />
        <a class="img-start-front-text" asp-area="" asp-controller="Kalkulator"
                                asp-action="Index">Preklop na sončno energijo</a>
    </div>
</div>
<div class="container-fluid">

</div>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="images/solar.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Sončne celice</h5>

            <a href="#" class="btn btn-info">Izvedi več</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="images/electric.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Električni avtomobili</h5>

            <a href="#" class="btn btn-info">Izvedi več</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="images/pump.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Toplotne črpalke</h5>
            
            <a href="#" class="btn btn-info">Izvedi več</a>
        </div>
    </div>
</div>