@{

    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <div class="jumbotron-div">
        <img class=img-start-front-image src="images/paneli.jpg" alt="Kalkulator" />
        <a class="img-start-front-text" asp-area="" asp-controller="Kalkulator" asp-action="Index">Preklop na sončno
            energijo</a>
    </div>
</div>
<div class="container-fluid">

</div>
<div class="card-deck my-10">

    <div class="card my-20">
        <img class="card-img-top" src="images/electric.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Novice</h5>

            <a class="btn btn-info" asp-area="" asp-controller="Primerjava" asp-action="Index">Izvedi več</a>
        </div>
    </div>
    <div class="card my-20">
        <img class="card-img-top" src="images/heat_pump.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Toplotne črpalke</h5>

            <a class="btn btn-info" asp-area="" asp-controller="ToplotneCrpalke" asp-action="Index">Izvedi več</a>
        </div>
    </div>


   
</div>
