@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <div class="jumbotron-div">
        <img class=img-start-front-image src="images/Kalkulator.jpg" alt="Kalkulator" />
        <p class="img-start-front-text">Preračunajte si cenejši jutri</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Sončne celice</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam accusantium, nam inventore, at dolores
            itaque recusandae, porro earum ea optio illum tempore placeat? Blanditiis ex accusantium labore iste eveniet
            sint!
        </p>
        <div class="btn-start-div">
            <button class="btn-start-button" role="button">Izvedi več</button>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Električni avtomobili</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam accusantium, nam inventore, at dolores
            itaque recusandae, porro earum ea optio illum tempore placeat? Blanditiis ex accusantium labore iste eveniet
            sint!
        </p>
        <div class="btn-start-div">
            <button class="btn-start-button" role="button">Izvedi več</btn>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Toplotne črpalke</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam accusantium, nam inventore, at dolores
            itaque recusandae, porro earum ea optio illum tempore placeat? Blanditiis ex accusantium labore iste eveniet
            sint!
        </p>
    </div>
</div>