@model web.Models.Kalkulator

@{
    ViewData["Title"] = "Calculate";

}

<h1>Rezultat</h1>
<form asp-action="Index">
    <div class="form-group">
        <input type="submit" value="Nazaj" class="btn btn-primary" />
    </div>
</form>